<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="float-left">
            <p>&copy; <a href="https://twitter.com/suf_malek" target="_blank">Sufiyan Malek 2019. All Rights Reserved</a></p>
        </div>

    </div>
</footer>